# Backend environment variables

# API path prefix
PATH_PREFIX=/api/v1

# PostgreSQL configuration
POSTGRES_DB=cryptotracker_db
POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_PASSWORD=hackme
POSTGRES_PORT=5432
ALERT_CHECK_INTERVAL_SECONDS=60
TELEGRAM_BOT_TOKEN=
